@import "variables";

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-grey-line {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 18px;
    background: url("../images/bg_grey_line.png") no-repeat center 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
}

.inside-zone {
  font-family: $museo;
  font-size: $fontSizeSmall;
  font-weight: 300;
  color: $textPrimaryColor;
  overflow-y: scroll;

  *, ::after, ::before {
    box-sizing: border-box;
  }

  h1 {
    font-size: $fontSizeMain;
    font-weight: 700;
    color: #282828;
    text-transform: uppercase;
  }
  h2 {
    font-size: $fontSizeSmall;
    font-weight: 700;
    color: $textTertiaryColor;
    text-transform: uppercase;
  }
  h3 {
    font-size: $fontSizeBig;
    font-weight: 500;
    color: $textTertiaryColor;
  }

  * + p {
    margin-top: 20px;
  }
}

.inside-zone__welcome {
  h2 {
    color: $textPrimaryColor;
  }
  span {
    font-weight: 900;
    color: #ff9a0a;
    background: -webkit-linear-gradient(#ff9a0a, #f6be47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px -4px 0 rgba(255, 255, 255, 0.2);
  }
}

.inside-zone__main {
  background: url("../images/bg_grey_line.png") no-repeat center 0, url("../images/bg_circle_lines.png") no-repeat center 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 246px;
  min-width: 768px;

  .ball_sm {
    width: 96px;
    height: 96px;
    //width: 109px;
    //height: 184px;
    padding: 0;
    margin: 0;
  }
  .ball_lg {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0;
  }
}

.inside-zone__table {
  font-size: $fontSizeTable;
  color: $textTertiaryColor;

  .thead-light {

    background: url("../images/bg_grey_line.png") no-repeat center 0, #e9edf2;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;

    th {
      font-size: $fontSizeTiny;
      font-weight: 700;
      background-color: transparent !important;
    }
  }
}

.inside-zone__help-main {
  color: $textTertiaryColor;
  min-width: 768px;
}

.inside-zone__help-warning {
  border: dashed 1px #7d7d7d;
  color: $textTertiaryColor;

  a {
    color: #766ac1;
  }
}

.inside-zone__auth-problem-link {
  a {
    color: $textPrimaryColor;
    font-weight: 700;
  }
}

.inside-zone__auth-problem-block {

  font-size: $fontSizeTiny;
  color: $textTertiaryColor;
  font-weight: 500;

  h2 {
    font-weight: 500;
    text-transform: none;
  }

  .bg-gray-rounded {
    height: 40px;
    background-color: #e3ebf6;
    border-radius: 500px;

    h2 {
      line-height: 40px;
    }
  }

  .col-2 {
    max-width: 55px;
  }
}

.tm-footer-nav {

  .col-2 {
    max-width: 55px;
  }
}

.inside-zone__top {
  min-width: 768px;
  height: 160px;
  background: url("../images/icon_pad.png") no-repeat 2px 49px , url("../images/ramka.png") no-repeat 0 center / auto 100%;

  font-size: $fontSizeTiny;

  .btn-primary {
    width: 150px;
    height: 42px;
    border: 2px solid #a4cc2c;
    //line-height: 40px;


    border-radius: 500px;
    font-size: $fontSizeSmall;
    color: $textTertiaryColor;
    background: #ffffff;

    position: relative;
    z-index: 2;

    &::before{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      background: transparent;

      z-index: 1;
      border-radius: 500px;

      &:hover, &:focus {
        background: linear-gradient(to left, #56a124, #a4cc2c);
      }

    }

    &:hover, &:focus {
      color: $textSecondaryColor;
      background: linear-gradient(to left, #56a124, #a4cc2c);
      border-color: transparent;
    }
  }
}

.inside-zone__middle {
  height: 400px;
}

.inside-zone__bottom {
  height: 160px;
}

.b-content__top {
  padding: 30px 0;
}

.b-content__bottom {
  height: auto;
  padding: 30px 0;
  margin:  0 30px;
  font-size: $fontSizeSmall;
  font-weight: 300;
  color: #7a818b;
  border: none;
}

.border-bottom-grey {
  border-bottom: 2px solid #cad3de;
}

.img-plus {
  margin-top: -3px;
  margin-left: -9px;
}

.btn-accordion {
  display: inline-block;
  width: 39px;
  height: 39px;
  text-decoration: none;
  background: url("../images/open.png") no-repeat;
  
  &.collapsed {
    background-image: url("../images/close.png");
  }
}

.tm-nav-imgs {

  a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
  }
}

.tm-hr-vert {
  height: 30px;
  border-right: 1px solid #b2bccb;
}

