@import "variables";

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tm-text-main {
  font-size: $fontSizeMain;
}

.tm-text-orange {
  color: #ff9a0a;
}


.bg-grey-line {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 18px;
    background: url("../images/bg_grey_line.png") no-repeat center 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
}

.inside-zone {
  font-family: $museo;
  font-size: $fontSizeSmall;
  font-weight: 300;
  color: $textPrimaryColor;
  overflow-y: scroll;

  *, ::after, ::before {
    box-sizing: border-box;
  }

  h1 {
    font-size: $fontSizeMain;
    font-weight: 700;
    color: #282828;
    text-transform: uppercase;
  }
  h2 {
    font-size: $fontSizeSmall;
    font-weight: 700;
    color: $textTertiaryColor;
    text-transform: uppercase;
  }
  h3 {
    font-size: $fontSizeBig;
    font-weight: 500;
    color: $textTertiaryColor;
  }

  * + p {
    margin-top: 20px;
  }

  .third-color {
    color: $textTertiaryColor;
  }
}

.inside-zone__welcome {
  h1 {
    color: $textPrimaryColor;
  }
  span {
    font-weight: 900;
    color: #ff9a0a;
    background: -webkit-linear-gradient(#ff9a0a, #f6be47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px -4px 0 rgba(255, 255, 255, 0.2);
  }
}

.ball_sm {
  width: 79px;
  height: 79px;
  color: #f8fafe;
  background: url("../images/ball_1.png") no-repeat center top;
}
.ball_lg {
  width: 135px;
  height: 138px;
  color: #f8fafe;
  background: url("../images/ball_3.png") no-repeat center top;
}

.ball_2 {
  background-image: url("../images/ball_2.png");
}

.ball_4 {
  background-image: url("../images/ball_4.png");
}

.tm-balls__wrap {
  position: relative;
  padding: 0 80px;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    bottom: -1px;
    width: 70px;
    background: url("../images/bg_circle_lines.png") no-repeat;
  }

  &::before {
    left: 0;
    background-position: left center;
  }

  &::after {
    right: 0;
    background-position: right center;
  }
}

.tm-balls__wrap_inner {
  position: relative;
  padding: 0 80px;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    bottom: -1px;
    width: 100px;
    background: url("../images/bg_circle_lines_inner.png") no-repeat;
  }

  &::before {
    left: 0;
    background-position: left center;
  }

  &::after {
    right: 0;
    background-position: right center;
  }
}

.tm-balls__wrap_inside {
  position: relative;
  padding: 0 40px;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 35px;
    background: url("../images/bg_circle_lines_inside.png") no-repeat;
  }

  &::before {
    left: 0;
    background-position: left center;
  }

  &::after {
    right: 0;
    background-position: right center;
  }
}

.inside-zone__table {
  font-size: $fontSizeTable;
  color: $textTertiaryColor;

  .thead-light {

    background: url("../images/bg_grey_line.png") no-repeat center 0, #e9edf2;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;

    th {
      font-size: $fontSizeTiny;
      font-weight: 700;
      background-color: transparent !important;
    }
  }
}

.inside-zone__help-main {
  color: $textTertiaryColor;
  //min-width: 768px;
}

.inside-zone__help-warning {
  border: dashed 1px #7d7d7d;
  color: $textTertiaryColor;

  a {
    color: #766ac1;
  }
}

.inside-zone__auth-problem-link {
  a {
    color: $textPrimaryColor;
    font-weight: 700;
  }
}

.inside-zone__auth-problem-block {

  font-size: $fontSizeTiny;
  color: $textTertiaryColor;
  font-weight: 500;

  h2 {
    font-weight: 500;
    text-transform: none;
  }

  .bg-gray-rounded {
    height: 40px;
    background-color: #e3ebf6;
    border-radius: 500px;

    h2 {
      line-height: 40px;
    }
  }

  .col-2 {
    max-width: 55px;
  }
}

.tm-footer-nav {

  .col-2 {
    max-width: 55px;
  }
}

.inside-zone__top {

  min-height: 130px;
  background: url("../images/gamepad.png") no-repeat -4px center / auto 100% #f8fafe;

  font-size: $fontSizeTiny;

  .btn-games {
    width: 100%;
    height: 42px;
    border: 2px solid #a4cc2c;

    border-radius: 500px;
    font-size: $fontSizeSmall;
    color: $textTertiaryColor;
    background: #ffffff;

    position: relative;
    z-index: 2;

    line-height: 38px;
    padding: 0 10px;
    margin: 10px 0;
    transition: none;

    &::before{
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      content: '';
      background: transparent;
      transition: color .15s;

      z-index: -1;
      border-radius: 500px;
    }

    &:hover, &:focus {
      color: $textSecondaryColor;
      background: linear-gradient(to left, #56a124, #a4cc2c);
      border-color: transparent;
      box-shadow: 0 5px 10px rgba(86, 161, 36, 0.5);

      &::before {
        background: linear-gradient(to left, #56a124, #a4cc2c);
      }
    }
  }
}

.inside-zone__middle {
  min-height: 370px;

  .btn-game-big {
    background-image: linear-gradient(to left, #986cd1, #627ad1);
    width: 236px;
    height: 64px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    font-size: 19.5px;
    color: $textSecondaryColor;
    box-shadow: 0 10px 15px rgba(152, 108, 209, 0.3);
    line-height: 48px;
    margin: 10px 0;
  }

  .iz-input-control {
    width: 214px;
    margin: 10px 0;
  }

  .iz-input {
    height: 42px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px grey;
    width: 214px;
  }

  .btn-rnd-sm {
    width: 28px;
    height: 28px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background-image: linear-gradient(to left, #986cd1, #627ad1);
    line-height: 21px;
    font-size: 40px;
    color: $textSecondaryColor;

    &.pos-left {
      position: absolute;
      top: 7px;
      left: -14px;
     }

    &.pos-right {
      position: absolute;
      top: 7px;
      left: 200px;
    }
  }

  .btn-grey-md {
    width: 83px;
    height: 30px;
    border-radius: 3px;
    background-image: linear-gradient(to top, #627085, #b7bbc1);
    color: $textSecondaryColor;
    font-size: $fontSizeSmall;
    padding: 0;
    line-height: 28px;
    margin: 10% 0;
  }

  .prize-mult {
    color: #a4cc2c;
    font-size: 40px;
    font-weight: 700;
  }
}

.inside-zone__bottom {
  min-height: 140px;

  .email-input {
    height: 42px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px grey;
    width: 80%;
  }

  .btn-bonus {
    width: 40%;
    height: 42px;
    border: none;

    border-radius: 500px;
    font-size: $fontSizeSmall;
    color: $textSecondaryColor;
    background: linear-gradient(to left, #56a124, #a4cc2c);
    padding: 0;

    position: absolute;
    left:60%;

    line-height: 43px;

    box-shadow: 0 5px 10px rgba(86, 161, 36, 0.5);
  }

  ol {
    margin: 0;
  }
}

.b-content__top {
  padding: 30px 0;
}

.b-content__bottom {
  height: auto;
  padding: 30px 0;
  margin:  0 30px;
  font-size: $fontSizeSmall;
  font-weight: 300;
  color: #7a818b;
  border: none;
}

.border-bottom-grey {
  border-bottom: 2px solid #cad3de;
}

.img-plus {
  margin-top: -3px;
  margin-left: -9px;
}

.btn-accordion {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-decoration: none;
  background: url("../images/close.png") no-repeat transparent;
  box-shadow: 0 5px 10px rgba(86, 161, 36, 0.5);
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  
  &.collapsed {
    background-image: url("../images/close.png");
  }
}

.tm-nav-imgs {

  a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
  }
}

.tm-hr-vert {
  height: 30px;
  border-right: 1px solid #b2bccb;
}

