@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-100.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-100.woff) format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-300.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-300.woff) format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-500.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-500.woff) format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-700.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-700.woff) format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-900.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-900.woff) format("woff");
  font-weight: 900;
  font-style: normal; }
.╨Я╤А╤П╨╝╨╛╤Г╨│╨╛╨╗╤М╨╜╨╕╨║__╤Б╨║╤А╤Г╨│╨╗__╤Г╨│╨╗╤Л_523 {
  background-color: #e3ebf6;
  position: absolute;
  left: 498px;
  top: 769px;
  width: 556px;
  height: 40px;
  z-index: 68; }

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.bg-grey-line {
  position: relative; }
  .bg-grey-line::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 18px;
    background: url("../images/bg_grey_line.png") no-repeat center 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.inside-zone {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #9aa9bd;
  overflow-y: auto; }
  .inside-zone *, .inside-zone ::after, .inside-zone ::before {
    box-sizing: border-box; }
  .inside-zone h1 {
    font-size: 16px;
    font-weight: 700;
    color: #282828;
    text-transform: uppercase; }
  .inside-zone h2 {
    font-size: 14px;
    font-weight: 700;
    color: #251f21;
    text-transform: uppercase; }
  .inside-zone h3 {
    font-size: 18px;
    font-weight: 500;
    color: #251f21; }
  .inside-zone * + p {
    margin-top: 20px; }

.inside-zone__welcome h2 {
  color: #9aa9bd; }
.inside-zone__welcome span {
  font-weight: 900;
  color: #ff9a0a;
  background: -webkit-linear-gradient(#ff9a0a, #f6be47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px -4px 0 rgba(255, 255, 255, 0.2); }

.inside-zone__main {
  background: url("../images/bg_grey_line.png") no-repeat center 0, url("../images/bg_circle_lines.png") no-repeat center 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 246px;
  min-width: 768px; }
  .inside-zone__main .ball_sm {
    width: 96px;
    height: 96px;
    padding: 0;
    margin: 0; }
  .inside-zone__main .ball_lg {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0; }

.inside-zone__table {
  font-size: 13px;
  color: #251f21; }
  .inside-zone__table .thead-light {
    background: url("../images/bg_grey_line.png") no-repeat center 0, #e9edf2;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
    .inside-zone__table .thead-light th {
      font-size: 12px;
      font-weight: 700;
      background-color: transparent !important; }

.inside-zone__help-main {
  color: #251f21;
  min-width: 768px; }

.inside-zone__help-warning {
  border: dashed 1px #7d7d7d;
  color: #251f21; }
  .inside-zone__help-warning a {
    color: #766ac1; }

.inside-zone__auth-problem-link a {
  color: #9aa9bd;
  font-weight: 700; }

.inside-zone__auth-problem-block {
  font-size: 12px;
  color: #251f21;
  font-weight: 500; }
  .inside-zone__auth-problem-block h2 {
    font-weight: 500;
    text-transform: none; }
  .inside-zone__auth-problem-block .bg-gray-rounded {
    height: 40px;
    background-color: #e3ebf6;
    border-radius: 500px; }
    .inside-zone__auth-problem-block .bg-gray-rounded h2 {
      line-height: 40px; }
  .inside-zone__auth-problem-block .col-2 {
    max-width: 55px; }

.inside-zone__top {
  min-width: 768px;
  height: 160px;
  background: url("../images/icon_pad.png") no-repeat 0 41px, url("../images/ramka.png") no-repeat 0 center/auto 100%;
  font-size: 12px; }
  .inside-zone__top a {
    display: block;
    width: 150px;
    height: 42px;
    border: solid 2px #a4cc2c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 21px;
    font-size: 14px;
    color: #251f21; }
    .inside-zone__top a:hover, .inside-zone__top afocus {
      text-decoration: none;
      color: #251f21; }

.inside-zone__middle {
  height: 400px; }

.inside-zone__bottom {
  height: 160px; }

.b-content__top {
  padding: 30px 0; }

.border-bottom-grey {
  border-bottom: 2px solid #cad3de; }

.img-plus {
  margin-top: -3px;
  margin-left: -9px; }

/*# sourceMappingURL=main.css.map */
