@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-100.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-100.woff) format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-300.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-300.woff) format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-500.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-500.woff) format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-700.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-700.woff) format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-900.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-900.woff) format("woff");
  font-weight: 900;
  font-style: normal; }
.╨Я╤А╤П╨╝╨╛╤Г╨│╨╛╨╗╤М╨╜╨╕╨║__╤Б╨║╤А╤Г╨│╨╗__╤Г╨│╨╗╤Л_523 {
  background-color: #e3ebf6;
  position: absolute;
  left: 498px;
  top: 769px;
  width: 556px;
  height: 40px;
  z-index: 68; }

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.bg-grey-line {
  position: relative; }
  .bg-grey-line::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 18px;
    background: url("../images/bg_grey_line.png") no-repeat center 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }

.inside-zone {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #9aa9bd;
  overflow-y: auto;
  min-width: 768px; }
  .inside-zone *, .inside-zone ::after, .inside-zone ::before {
    box-sizing: border-box; }
  .inside-zone h1 {
    font-size: 16px;
    font-weight: 700;
    color: #282828;
    text-transform: uppercase; }
  .inside-zone h2 {
    font-size: 14px;
    font-weight: 700;
    color: #251f21;
    text-transform: uppercase; }
  .inside-zone h3 {
    font-size: 18px;
    font-weight: 500;
    color: #251f21; }
  .inside-zone * + p {
    margin-top: 20px; }
  .inside-zone .third-color {
    color: #251f21; }

.inside-zone__welcome h2 {
  color: #9aa9bd; }
.inside-zone__welcome span {
  font-weight: 900;
  color: #ff9a0a;
  background: -webkit-linear-gradient(#ff9a0a, #f6be47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px -4px 0 rgba(255, 255, 255, 0.2); }

.inside-zone__main {
  background: url("../images/bg_grey_line.png") no-repeat center 0, url("../images/bg_circle_lines.png") no-repeat center 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 246px;
  min-width: 768px; }
  .inside-zone__main .ball_sm {
    width: 96px;
    height: 96px;
    padding: 0;
    margin: 0; }
  .inside-zone__main .ball_lg {
    width: 170px;
    height: 170px;
    padding: 0;
    margin: 0; }

.inside-zone__table {
  font-size: 13px;
  color: #251f21; }
  .inside-zone__table .thead-light {
    background: url("../images/bg_grey_line.png") no-repeat center 0, #e9edf2;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
    .inside-zone__table .thead-light th {
      font-size: 12px;
      font-weight: 700;
      background-color: transparent !important; }

.inside-zone__help-main {
  color: #251f21; }

.inside-zone__help-warning {
  border: dashed 1px #7d7d7d;
  color: #251f21; }
  .inside-zone__help-warning a {
    color: #766ac1; }

.inside-zone__auth-problem-link a {
  color: #9aa9bd;
  font-weight: 700; }

.inside-zone__auth-problem-block {
  font-size: 12px;
  color: #251f21;
  font-weight: 500; }
  .inside-zone__auth-problem-block h2 {
    font-weight: 500;
    text-transform: none; }
  .inside-zone__auth-problem-block .bg-gray-rounded {
    height: 40px;
    background-color: #e3ebf6;
    border-radius: 500px; }
    .inside-zone__auth-problem-block .bg-gray-rounded h2 {
      line-height: 40px; }
  .inside-zone__auth-problem-block .col-2 {
    max-width: 55px; }

.tm-footer-nav .col-2 {
  max-width: 55px; }

.inside-zone__top {
  min-height: 130px;
  background: url("../images/gamepad.png") no-repeat -4px center/auto 100% #f8fafe;
  font-size: 12px;
  padding: 0 !important; }
  .inside-zone__top .btn-games {
    width: 100%;
    height: 42px;
    border: 2px solid #a4cc2c;
    border-radius: 500px;
    font-size: 14px;
    color: #251f21;
    background: #ffffff;
    position: relative;
    z-index: 2;
    line-height: 38px;
    padding: 0 10px;
    margin: 10px 0;
    transition: none; }
    .inside-zone__top .btn-games::before {
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      content: '';
      background: transparent;
      transition: color .15s;
      z-index: -1;
      border-radius: 500px; }
    .inside-zone__top .btn-games:hover, .inside-zone__top .btn-games:focus {
      color: #ffffff;
      background: linear-gradient(to left, #56a124, #a4cc2c);
      border-color: transparent;
      box-shadow: 0 5px 10px rgba(86, 161, 36, 0.5); }
      .inside-zone__top .btn-games:hover::before, .inside-zone__top .btn-games:focus::before {
        background: linear-gradient(to left, #56a124, #a4cc2c); }

.inside-zone__middle {
  min-height: 350px;
  padding: 0 !important; }
  .inside-zone__middle .btn-game-big {
    background-image: linear-gradient(to left, #986cd1, #627ad1);
    width: 236px;
    height: 64px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    font-size: 19.5px;
    color: #ffffff;
    box-shadow: 0 10px 15px rgba(152, 108, 209, 0.3);
    line-height: 48px;
    margin: 10px 0; }
  .inside-zone__middle .iz-input-control {
    width: 214px;
    margin: 10px 0; }
  .inside-zone__middle .iz-input {
    height: 42px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px grey;
    width: 214px; }
  .inside-zone__middle .btn-rnd-sm {
    width: 28px;
    height: 28px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background-image: linear-gradient(to left, #986cd1, #627ad1);
    line-height: 21px;
    font-size: 40px;
    color: #ffffff; }
    .inside-zone__middle .btn-rnd-sm.pos-left {
      position: absolute;
      top: 7px;
      left: -14px; }
    .inside-zone__middle .btn-rnd-sm.pos-right {
      position: absolute;
      top: 7px;
      left: 200px; }
  .inside-zone__middle .btn-grey-md {
    width: 83px;
    height: 30px;
    border-radius: 3px;
    background-image: linear-gradient(to top, #627085, #b7bbc1);
    color: #ffffff;
    font-size: 14px;
    padding: 0;
    line-height: 28px;
    margin: 10% 0; }
  .inside-zone__middle .prize-mult {
    color: #a4cc2c;
    font-size: 40px;
    font-weight: 700; }

.inside-zone__bottom {
  min-height: 120px;
  padding: 0 !important; }
  .inside-zone__bottom .email-input {
    height: 42px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px grey;
    width: 80%; }
  .inside-zone__bottom .btn-bonus {
    width: 40%;
    height: 42px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(to left, #56a124, #a4cc2c);
    padding: 0;
    position: absolute;
    left: 60%;
    line-height: 43px;
    box-shadow: 0 5px 10px rgba(86, 161, 36, 0.5); }
  .inside-zone__bottom ol {
    margin: 0; }

.b-content__top {
  padding: 30px 0; }

.b-content__bottom {
  height: auto;
  padding: 30px 0;
  margin: 0 30px;
  font-size: 14px;
  font-weight: 300;
  color: #7a818b;
  border: none; }

.border-bottom-grey {
  border-bottom: 2px solid #cad3de; }

.img-plus {
  margin-top: -3px;
  margin-left: -9px; }

.btn-accordion {
  display: inline-block;
  width: 39px;
  height: 39px;
  text-decoration: none;
  background: url("../images/close.png") no-repeat; }
  .btn-accordion.collapsed {
    background-image: url("../images/open.png"); }

.tm-nav-imgs a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none; }

.tm-hr-vert {
  height: 30px;
  border-right: 1px solid #b2bccb; }

/*# sourceMappingURL=main.css.map */
